*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0vw;
    padding: 0vw;
    align-items: center;
}
.nav-btn{
    background: transparent;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    cursor: pointer;
}
.top-content{
    display: none;
    font-size: 15vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container{
    color: white;
    background-image:  url('img/bg-pic.jpg');
    text-align: center;
    background-position: center;
    background-size: cover;
}
.navbar{
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgb(80, 77, 77), rgb(0, 0, 0));
    opacity: 75%;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.main-icon{
    padding: 1vw;
}
.main-icon img{
    width: 4vw;
}
.nav-item{
    margin: 1vh 2vw;
    color: black;
    font-size: 1vw;
}
.main-body{
    display: flex;
    justify-content: space-between;
    padding: 10vw 2vw;
}
.left-content{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
    margin-right: 25vw;
    text-align: left;
}
.right-content{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5vw;
    text-align: right;
    margin: 0vh 10vw;
}
.about-physics{
    color: black;
    margin: 2vw;
}
.abt-head{
    margin: 3vw 0vw;
    align-items: center;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3vw;
}
.abt-body{
    display: flex;
    justify-content: space-between;
}
.abt-content{
    font-size: 1.5vw;
}
.img{
    margin-left: 5vw;
    width: 10vw;
}
.contact{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    padding: 5vw 0vh;
}
.contact-head{
    text-align: center;
    font-size: 3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2vw 0vh;
}
.contact-form{
    display: flex;
    justify-content: space-between;
    margin: 0vh 8vw;
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input{
    padding: 0.5vw;
    border: 2px solid grey;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
.footer{
    background-color: rgba(0, 0, 0, 0.919);
    padding: 1vw;
    text-align: center;
    color: white;
    position: sticky;
}
.footer p{
    font-family:Arial, Helvetica, sans-serif

}
.sub-links{
    /* background-image: linear-gradient(to top, rgb(0, 0, 66), black); */
    background-image: url("img/bg3.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.physicist-heading{
    padding: 5vw;
    color: white;
    text-align: center;
    font-size: 3vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.physicist-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}
.physicist-img{
    border-radius: 5px;
    width: 15vw;
}
.physicists{
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    color: white;
}
.left-physicist-content{
    padding: 5vw;
}
.right-physicist-content{
    /* float: right; */
    padding: 5vw;
}
.physicist-text{

    background-color: rgba(0, 0, 0, 0.76);
}
.physicists p{
    
    font-family:'Courier New', Courier, monospace;
}

@media screen and (max-width: 900px) {
    .abt-content{
        font-size: 0.8vw;
    }
    .img{
        display: none;
    }
    .abt-head{
        font-size: 15vw;
    }
    .abt-content{
        font-size: 5.5vw;
        margin: 3vw;
        text-align: center;
    }
    .main-body{
        display: block;
        text-align: center;
        align-items: center;
    }
    .top-content{
        display: block;
    }
    .left-content{
        text-align: center;
        font-size: 5vw;
        margin-right: 0vw;
    }
    .right-content{
        display: none;
    }
    .nav-list{
        display: block;
    }
    .contact-head{
        font-size: 15vw;
    }
    .contact-form{
        display: block;
        font-size: 8vw;
    }
    .input{
        width: 100%;
        font-size: 8vw;
    }
    .physicist-heading{
        font-size: 15vw;
    }
    .sub-links{
        background-image: linear-gradient(to top, blue, black);
    }
    .physicists{
        display: block;
    }
    .physicists p{
        text-align: center;
        font-size: 8vw;
    }
    .physicist-img{
        width: 50vw;
    }
    .physicist-title{
        font-size: 12vw;
    }
    .left-physicist-content{
        text-align: center;
    }
}